header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: rgb(245, 255, 228);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header img {
  width: 45px;
}

header h1 {
  font-size: 25px;
  font-weight: 500;
  color: rgb(19, 109, 19);
  font-weight: 600;
  letter-spacing: 0.5px;
  text-shadow: 0px 0px 4px rgba(69, 136, 97, 0.5);
}

main {
  margin-top: 40px;
}

main form {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 40px;
}

form input {
  width: 220px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 15px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

form button {
  width: 145px;
  background-color: rgb(19, 109, 19);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  border-style: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

form button::before {
  content: "+";
  margin-right: 7px;
}

form button:hover {
  background-color: rgb(11, 70, 11);
}
